<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>Xenda Cerrado</title>

</head>

<body>

<h1>Xenda v1.0</h1>

<h2>Periodo cerrado</h2>

<p>

    El registro no está habilitado en este momento. Por favor, inténtalo de nuevo en los periodos establecidos.  

    <br><br>

    Los periodos de registro son:

    <br><br>

    - El registro se abre los días 10 y 25 de cada mes a las 00:00 horas.

    <br>

    - El registro se cierra los días 14 y 29 de cada mes a las 23:59 horas.

</p>

</body>
</html>