<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>
        Mapa General Xenda
    </title>

    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet/dist/leaflet.css"
    >

    <style>

        body {

            margin: 0;

            font-family: Arial;
        }

        #mapa {

            width: 100%;

            height: 100vh;
        }

    </style>

</head>

<body>

<div id="mapa"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>

    const mapa = L.map('mapa').setView(
        [23.6345, -102.5528],
        5
    );

    L.tileLayer(

        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',

        {
            attribution:
                '&copy; OpenStreetMap contributors'
        }

    ).addTo(mapa);

</script>

{% for r in registros %}

<script>

    L.circleMarker(

    [

        Number('{{ r.latitud }}'),

        Number('{{ r.longitud }}')

    ],

    {

        radius: 5,

        color: '{{"#e53935" if r.tramo == "AIFA-PACHUCA" else "#8e24aa" if r.tramo == "MÉXICO-QUERÉTARO" else "#3949ab" if r.tramo == "QUERÉTARO-IRAPUATO" else "#1e88e5" if r.tramo == "SALTILLO-NUEVO LAREDO" else "#00897b" if r.tramo == "QUERÉTARO-SAN LUIS POTOSÍ" else "#43a047" if r.tramo == "SAN LUIS POTOSÍ-SALTILLO" else "#fdd835" if r.tramo == "MAZATLÁN-LOS MOCHIS" else "#fb8c00" if r.tramo == "IRAPUATO-GUADALAJARA" else "#616161"}}',

            fillColor: '{{"#ef5350" if r.tramo == "AIFA-PACHUCA" else "#ab47bc" if r.tramo == "MÉXICO-QUERÉTARO" else "#5c6bc0" if r.tramo == "QUERÉTARO-IRAPUATO" else "#42a5f5" if r.tramo == "SALTILLO-NUEVO LAREDO" else "#26a69a" if r.tramo == "QUERÉTARO-SAN LUIS POTOSÍ" else "#66bb6a" if r.tramo == "SAN LUIS POTOSÍ-SALTILLO" else "#ffee58" if r.tramo == "MAZATLÁN-LOS MOCHIS" else "#ffa726" if r.tramo == "IRAPUATO-GUADALAJARA" else "#9e9e9e"}}',

        fillOpacity: 0.6,

        weight: 1

    }

)

.addTo(mapa)

.bindPopup(

    `
    <b>Usuario:</b>
    <b>{{ r.usuario }}</b><br>

    <b>Actividad:</b>
    {{ r.actividad }}<br>

    <b>Tramo:</b>
    {{ r.tramo }}<br>

    <b>Núcleo Agrario:</b>
    {{ r.nucleo }}<br>

    <b>Municipio:</b>
    {{ r.municipio }}<br>

    <b>Municipio GIS:</b>
    {{ r.municipio_geo }}<br>

    <b>Estado GIS:</b>
    {{ r.estado_geo }}    
    `
);

</script>

{% endfor %}

</body>

</html>