<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>
        Mapa General Xenda
    </title>

    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet/dist/leaflet.css"
    >

    <style>

        body {

            margin: 0;

            font-family: Arial;
        }

        #mapa {

            width: 100%;

            height: 100vh;
        }

    </style>

</head>

<body>

<div id="mapa"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>

    const mapa = L.map('mapa').setView(
        [23.6345, -102.5528],
        5
    );

    L.tileLayer(

        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',

        {
            attribution:
                '&copy; OpenStreetMap contributors'
        }

    ).addTo(mapa);

</script>

{% for r in registros %}

<script>

    L.circleMarker(

    [

        Number('{{ r.latitud }}'),

        Number('{{ r.longitud }}')

    ],

    {

        radius: 5,

        color: '#691B4F',

        fillColor: '#a42145',

        fillOpacity: 0.6,

        weight: 1

    }

)

.addTo(mapa)

.bindPopup(

    `
    <b>{{ r.usuario }}</b><br>

    <b>Tramo:</b>
    {{ r.tramo }}<br>

    <b>Municipio:</b>
    {{ r.municipio }}<br>

    <b>Actividad:</b>
    {{ r.actividad }}
    `
);

</script>

{% endfor %}

</body>

</html>